<html>
<head>
    <title>Start Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" 
     rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
     <style>
        body{
              background-color: darkgrey;
              height: 100vh;
              background-size: cover;
              background-position: center;
            }
         .toolbar
         {
             background-color: brown;
             height: auto;
             padding: 10;
         }
         .hero-unit
         {
             padding: 20px;
         }
         .title h1
         {
             color:white;
             font-size: 30px;
         }
     </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row toolbar justify-content-start">
            <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="title">
                    <h1>Restaurant Management Site</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a class="btn btn-Primary" href="#">Main</a>
                <a class="btn btn-secondary" href="/register">Sign up</a>
                <a class="btn btn-secondary" href="/logout">Sign out</a>
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <h1>This is the user page</h1>
        <p>Welcome to this site</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>